.section_container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.section_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2em;
    padding: 2rem;
    max-width: 1280px;
    background-color: rgba(66, 62, 57, 0.1);
    border: 1px solid rgba(66, 62, 57, 0.02);
    border-radius: 5px;
}

.image_container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0;
}

.project_image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.flex_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
}

.project_title {
    color: var(--semidark-color);
}

.project_stack {
  margin: 0;
  font-size: 14px;
  font-variant: small-caps;
  color: var(--mid-color);
}

.project_description {
    color: var(--dark-color);
}

.flex_description_text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 80%;
    overflow-wrap: break-word;
}

.flex_buttons {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.project_button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--semidark-color);
    border: none;
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.project_button:hover {
  background-color: var(--mid-color);
  transition: all 0.3s
}

.project_button:active {
  background-color: var(--mid-color);
  transition: all 0.3s
}

.button_text {
    font-size: 16px;
    font-weight: 600;
    font-variant: small-caps;
    color: var(--light-color);
}

/* MEDIA QUERYS */
@media screen and (min-width: 768px) {
    .section_content {
        flex-wrap: nowrap;
    }
}