.hero_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85vh;
}

.title {
  font-size: var(--header-font);
  font-weight: 600;
  font-variant: small-caps;
  margin: 0.25em;
  text-align: center;
  color: #5f4938;
}

.subtitle {
  font-size: var(--subtitle-font);
  font-variant: small-caps;
  margin-top: 0;
  color: #d0ad91;
}

.hero_social {
  display: flex;
  gap: 1em;
  font-size: var(--social-item);
}

.social_item__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.social_name {
  font-size: var(--social-font);
  font-variant: small-caps;  
}
