.hero_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  position: relative;
}

.title {
  font-size: 2em;
  margin: 0.25em;
}

.subtitle {
  font-size: 1em;
  margin-top: 0;
  color: gray;
}

.hero_social {
  display: flex;
  gap: 0.5em;
  font-size: 1.2em;
}
