.navbar_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: block;
  width: 100%;
  padding: 1em 0;
  top: 0;
  gap: 0.75rem;
  backdrop-filter: saturate(180%) blur(27px);
  box-shadow: inset 0 -1px #0000001f;
  background-color: rgba(247, 247, 247, 0.3);
}
