@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

:root {
  --header-font: 2.5rem;
  --subheader-font: 2rem;
  --subtitle-font: 1.5rem;
  --normal-font: 1rem;
  --little-font: .85rem;
  --social-item: 2rem;
  --social-font: 0.8rem;
}

@media screen and (min-width: 768px) {
  :root {
    --header-font: 8rem;
    --subheader-font: 4rem;
    --subtitle-font: 2.5rem;
    --normal-font: 1rem;
    --little-font: .85rem;
    --social-item: 3rem;
    --social-font: 1rem;
  }
}

:root {
  --dark-color: #5f4938;
  --semidark-color: #8a6c44;
  --mid-color: #d0bc91;
  --semilight-color: #c6c4bc;
  --light-color: #e7e8e3;
  --title-color: #5d4525;
  --subtitle-color: #8a7a56;
  --transition-delay: 1s;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: var(--normal-font);
  line-height: 28px;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

a:hover {
  color: var(--mid-color);
  transform: scale(1.1);
  transition: color, transform 0.3s;
}

a:active {
  color: var(--mid-color);
  transform: scale(1.1);
  transition: color, transform 0.3s;
}

li {
  list-style: none;
}
