html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: rgb(14, 164, 223);
  transition: color 0.3s ease;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}
