.about_section {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  margin-top: .3em;
}

.about_content {
  padding: 2rem;
  max-width: 1280px;
  display: grid;
  gap: 3rem;
  grid-template-areas: "title title" "avatar avatar" "info info";
}

@media screen and (min-width:768px) {
  .about_content {
    grid-template-areas: "title title" "avatar info";
}
}

.about_avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  grid-area: avatar;
}

.about_avatar::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(171, 151, 249, var(--percentage-gradients));
  filter: blur(128px);
  z-index: -1;
}

.about_title {
  font-size: var(--subtitle-font);
  font-variant: small-caps;
  margin: 0;
  grid-area: title;
  color: var(--semidark-color);
  padding: 10px 0;
  border-bottom: 1px solid var(--mid-color);
}

.about_image {
  border: 1px solid rgb(0, 0, 0);
	height: 100px;
	width: 100px;
	margin: 10px;
	border-radius: 10px  20px 10px 150px;
	box-shadow: 1px 20px 4px rgba(87, 84, 84, 0.12);
  filter: sepia(40%);
}

.about_description {
  width: 100%;
  grid-area: info;
  color: var(--dark-color);
}